idlmatcher.json
[{"id":"2719d857.50049","type":"tab","label":"Flow 2"},{"id":"f8d409d9.aabc68","type":"debug","z":"2719d857.50049","name":"","active":true,"console":"false","xaxis":"_time","complete":"false","x":970,"y":600,"wires":[]},{"id":"ed521eea.fa6428","type":"debug","z":"2719d857.50049","name":"Asset Mapping Result","active":true,"console":"false","complete":"true","x":1180,"y":750,"wires":[]},{"id":"127ff1c4.f0b1ce","type":"function","z":"2719d857.50049","name":"Prepare L2 Requests","func":"// Extract L1 assets and fan out one message per asset to fetch their children\nconst response = msg.payload || {};\nconst assets = response._embedded?.assets || response._embedded?.asset || [];\n\nif (assets.length === 0) {\n    node.warn('No L1 assets found');\n    return null;\n}\n\n// Return an array of messages - Node-RED sends each as a separate message\n// msg.parts tells the downstream join node how many to expect\nconst msgs = assets.map((asset, i) => ({\n    payload: asset,\n    mindspherePath: `/api/assetmanagement/v3/assets?filter={\"parentId\":\"${asset.assetId}\"}`,\n    parts: { id: msg._msgid, index: i, count: assets.length, type: 'array' }\n}));\n\nreturn [msgs];","outputs":1,"noerr":0,"x":710,"y":750,"wires":[["d4e5f6a7.b8c901"]]},{"id":"d9f3de66.99ba48","type":"function","z":"2719d857.50049","name":"Store in Flow Variable","func":"// Store the asset mapping in flow variable for use in other parts\nconst assetMap = msg.payload.assetMap || {};\nconst assetsList = msg.payload.assetsList || [];\n\nflow.set('assetNameToIdMap', assetMap);\nflow.set('assetsList', assetsList);\n\nmsg.payload = {\n    message: 'Asset mapping stored in flow variables',\n    totalAssets: Object.keys(assetMap).length,\n    assetNames: Object.keys(assetMap),\n    mapping: assetMap\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":750,"wires":[["ed521eea.fa6428"]]},{"id":"ed68e82c.38c4a8","type":"http request","z":"2719d857.50049","name":"Get Child Assets","method":"GET","ret":"obj","url":"","timeout":"","mindspherePath":"/api/assetmanagement/v3/assets?filter={\"parentId\":\"ce68c8847eee4c8f89ba33f257349040\"}","useMindsphereAuth":true,"isAdmin":true,"secretHeaders":"","x":470,"y":750,"wires":[["127ff1c4.f0b1ce"]],"_type":"node"},{"id":"cbd9114f.8c2a88","type":"inject","z":"2719d857.50049","name":"","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"0","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":222.5,"y":604,"wires":[["9747405f.f38168"]]},{"id":"765a02b0.b548fc","type":"inject","z":"2719d857.50049","name":"Load Asset Mapping","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"0","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":240,"y":750,"wires":[["ed68e82c.38c4a8"]]},{"id":"9747405f.f38168","type":"list objects","z":"2719d857.50049","name":"","subtenant":"","path":"/pk/linecounters/","x":459.5,"y":605,"wires":[["f8d409d9.aabc68"]]},{"id":"d4e5f6a7.b8c901","type":"http request","z":"2719d857.50049","name":"Get L2 Assets","method":"GET","ret":"obj","url":"","timeout":"","mindspherePath":"","useMindsphereAuth":true,"isAdmin":true,"secretHeaders":"","x":950,"y":750,"wires":[["e5f6a7b8.c9d012"]],"_type":"node"},{"id":"e5f6a7b8.c9d012","type":"join","z":"2719d857.50049","name":"Join L2 Responses","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"x":1190,"y":750,"wires":[["f6a7b8c9.d0e123"]]},{"id":"f6a7b8c9.d0e123","type":"function","z":"2719d857.50049","name":"Build Final Mapping","func":"// msg.payload is an array of HTTP responses, one per L1 asset queried\nconst responses = Array.isArray(msg.payload) ? msg.payload : [msg.payload];\nconst mapping = {};\nconst namesList = [];\n\nresponses.forEach(response => {\n    const assets = response._embedded?.assets || response._embedded?.asset || [];\n    assets.forEach(asset => {\n        if (asset.name && asset.assetId) {\n            mapping[asset.name] = asset.assetId;\n            namesList.push({\n                name: asset.name,\n                assetId: asset.assetId,\n                typeId: asset.typeId,\n                parentId: asset.parentId\n            });\n        }\n    });\n});\n\nmsg.payload = {\n    assetMap: mapping,\n    assetsList: namesList,\n    totalCount: namesList.length\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":750,"wires":[["d9f3de66.99ba48"]]}]