idlmatcher.json
[{"id":"a993dddc.771668","type":"inject","z":"6b2ebfa0.e65078","name":"","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"0","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":182.5,"y":104,"wires":[["2f1f5a4c.653676"]]},{"id":"2f1f5a4c.653676","type":"list objects","z":"6b2ebfa0.e65078","name":"","subtenant":"","path":"/pk/linecounters/","x":419.5,"y":105,"wires":[["5b759f11.8dcfd"]],"_type":"node"},{"id":"5b759f11.8dcfd","type":"debug","z":"6b2ebfa0.e65078","name":"","active":true,"console":"false","xaxis":"_time","complete":"false","x":930,"y":100,"wires":[]},{"id":"b1a4e5d9.c5e2c8","type":"inject","z":"6b2ebfa0.e65078","name":"Load Asset Mapping","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"0","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":200,"y":250,"wires":[["c2b5f6e0.d3a418"]]},{"id":"c2b5f6e0.d3a418","type":"http request","z":"6b2ebfa0.e65078","name":"Get Child Assets","method":"GET","ret":"obj","url":"https://YOUR_INSIGHTS_HUB_URL/api/assetmanagement/v3/assets?filter={\"parentId\":\"ce68c8847eee4c8f89ba33f257349040\"}","tls":"","persist":"false","proxy":"","authType":"bearer","auth":{"bearer":""},"x":430,"y":250,"wires":[["d4c7g7f1.e8d958"]]},{"id":"d4c7g7f1.e8d958","type":"function","z":"6b2ebfa0.e65078","name":"Extract Assets List","func":"// Extract the _embedded.asset array from HAL JSON response\nconst response = msg.payload || {};\nconst assets = response._embedded?.asset || response._embedded?.assets || response.content || [];\n\nconst mapping = {};\nconst namesList = [];\n\n// Build mapping of asset name to asset id\nassets.forEach(asset => {\n    if (asset.name && asset.id) {\n        mapping[asset.name] = asset.id;\n        namesList.push({\n            name: asset.name,\n            id: asset.id,\n            typeId: asset.typeId,\n            assetId: asset.assetId\n        });\n    }\n});\n\nmsg.payload = {\n    assetMap: mapping,\n    assetsList: namesList,\n    totalCount: namesList.length\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":250,"wires":[["e5d8h8g2.f9e670"]]},{"id":"e5d8h8g2.f9e670","type":"function","z":"6b2ebfa0.e65078","name":"Store in Flow Variable","func":"// Store the asset mapping in flow variable for use in other parts\nconst assetMap = msg.payload.assetMap || {};\nconst assetsList = msg.payload.assetsList || [];\n\nflow.set('assetNameToIdMap', assetMap);\nflow.set('assetsList', assetsList);\n\nmsg.payload = {\n    message: 'Asset mapping stored in flow variables',\n    totalAssets: Object.keys(assetMap).length,\n    assetNames: Object.keys(assetMap),\n    mapping: assetMap\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":250,"wires":[["f6e9i9h3.g0f781"]]},{"id":"f6e9i9h3.g0f781","type":"debug","z":"6b2ebfa0.e65078","name":"Asset Mapping Result","active":true,"console":"false","complete":"true","x":1140,"y":250,"wires":[]}]