idlmatcher.json
[{"id":"a993dddc.771668","type":"inject","z":"6b2ebfa0.e65078","name":"","topic":"","payload":"","payloadType":"date","repeat":"","repeatEnd":"0","endTime":"0","crontab":"","offset":"0","once":false,"properties":"","timezone":"utc","betweentimesunit":"m","showNextExecution":false,"powerMode":false,"x":182.5,"y":104,"wires":[["2f1f5a4c.653676"]]},{"id":"2f1f5a4c.653676","type":"list objects","z":"6b2ebfa0.e65078","name":"","subtenant":"","path":"/pk/linecounters/","x":419.5,"y":105,"wires":[["5b759f11.8dcfd"]],"_type":"node"},{"id":"5b759f11.8dcfd","type":"debug","z":"6b2ebfa0.e65078","name":"","active":true,"console":"false","xaxis":"_time","complete":"false","x":930,"y":100,"wires":[]}]